@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}    

body {
    margin: 0px;
    background-color: rgb(250, 235, 207);
}

header {
    display: block;
    background-image: linear-gradient(to bottom ,#3ad17e, #289256, #1a5c38);
    margin-top: -21px;
    padding-top: 2.5em;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);

}

header > h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

header > h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

nav {
    padding-left: 1.3em;
    padding-bottom: 10px;
}

nav > a {
    margin: 0.6em;
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav > a:hover {
    transition: 0.3s;
    border-radius: 12px;
    color: rgb(56, 56, 56);
    background-color: #2d9e60;

}

main {
    padding: 0.1px 15px;
    margin-top: 0px;
    margin: auto;
    width: min-content;
    background-color: white;
    box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.459);
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1em;
}

main > h1 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #123d26;
}

main > h2 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #123d26;
    background-image: linear-gradient(to right, #2d9e6071, white);
}

a.links {
    font-weight: bold;
    padding: 3px;
    color: #123d26;
    background-color: #35bb73;
    text-decoration: none;
}

picture {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

strong {
    color: #123d26;
}

iframe {
    padding: 20px;
    display: block;
    margin: auto;
}

main.videos {
    background-color: darkgreen;
}

div#extra {
    padding: 1px 14px;
    margin: 20px;
    border-radius: 8px;
    background-color: #3ad17e;
}

div#extra > h3 {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main#final {
    border-radius: 0px 0px 5px 5px;
}

footer {
    margin-top: 30px;
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    background-color: black;
}